.business {
    background-color: white;
    padding: 20px;

    Button {
        border: none;
        border-radius: 5px;
    }

    .button1 {
        background: linear-gradient(to left, #ff6c29, #ffb580, );
        color: white;
        margin: 0 20px 20px 0;
    }

    .button1:hover {
        background: linear-gradient(to left, #ff5e19, #ff8b64, );
    }

    .button2 {
        background-color: #fbf4f0;
        color: black;
    }

    .button2:hover {
        background: #f3e7e1;
    }
}